/*font-family "Lato" importer de google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* font-family télécharger de google fonts et importer via @font-face*/
@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway-Regular\ \(convert.io\).woff');
    src: url('../fonts/Raleway-Regular\ \(convert.io\).otf') format('opentype'),
    url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway-Bold\ \(convert.io\).woff');
    src: url('../fonts/Raleway-Bold\ \(convert.io\).otf') format('opentype'),
    url('../fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway-BoldItalic\ \(convert.io\).woff');
    src: url('../fonts/Raleway-BoldItalic\ \(convert.io\).otf') format('opentype'),
    url('../fonts/Raleway-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway-Italic\ \(convert.io\).woff');
    src: url('../fonts/Raleway-Italic\ \(convert.io\).otf') format('opentype'),
    url('../fonts/Raleway-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/*Rénitialisation des marges interne et externe des pages*/
*{
    margin: 0;
    padding: 0;
}
/*Taille police d'ecriture du cv*/
html{
    font-size: 1rem;
}
/*Taille du body et dégrader comme sur la maquette gauche blanc et droite gris*/
body{
    background-image: linear-gradient(to right,
    #ffffff 0%,
    #ffffff 50%,
    #f5f5f5 50%,
    #f5f5f5 100%
    );
    height: 100%;
}
/*Taille couleur et police de d'écriture du titre h1*/
h1{
    font-family: "Lato";
    color: #ffffff;
    font-size: 3rem;
}
/* Couleur police d'écriture epaisseur style de police*/
h2{
    font-family: "Lato";
    font-weight: 100;
    font-style: normal;
    color: #17abb3;
}
/* Taille et centrage du header avec couleur de fond*/
header{
    width: 1160px;
    height: 250px;
    margin: 0 auto;
    background-color: #17abb3;
}
/* Container placer dans le header avec flexbox hauteur largeur et supréssion des puces*/
.container{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 250px;
}
/* div contenant la photo avec un flex-basis qui occupe 50% de l'espace et position relative pour declaré l'élément par rapport a sa position normal */
.photo{
    flex-basis: 50%;
    position: relative;
}
/* la balise img avec une image sa taille couleur et une bordure de couleur  blanche en 5px
 un border radius pour arrondir les coin  et une position absolute avec un top left pour placer l'image dans le header */
img{
    position: absolute;
    top: -65px;
    left: 90px;
    width: 136px;
    height: 136px;
    object-fit: cover;
    border-radius: 50%;
    border: #ffffff solid 5px;  
}
/* un hover avec cursor zoom-in pour avoir le curseur loupe qui montre que l'on peut grandir l'image au passage de la souris*/
img:hover{
    cursor: zoom-in;
}
/* div contenant tous les info et conteneur du header avec un flex-basis qui occupe 50% de l'espace*/
.info{
    flex-basis: 50%;
}
/* Deuxième container placer dans le 1er avec flexbox marge interne police d'écriture qui sert a placer email et l'adresse */
.container-2{
    display: flex;
    justify-content: space-around;
    padding-right: 240px;
    padding-top: 10px;
    font-family: "Lato";  
}
/*Troisième container placer aussi dans le 1er avec flexbox marge interne police d'écriture qui sert a placer Telephone et permi B*/
.container-3{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-right: 233px;
    font-family: "Lato";
}
/* Couleur des icones font awesome voiture maison enveloppe téléphone*/
.voiture i{
    color: #ffffff;
}
.maison i{
    color: #ffffff;
}
.contact i{
    color: #ffffff;
}
.email i{
    color: #ffffff;
}
/*Marge interne qui sert a placer l'icone téléphone et le texte téléphone correctement*/
.contact{
    padding-left: 5px;
}
/*Marge interne qui sert a placer l'icone de l'email et le texte mail correctement*/
.email{
    padding-left: 10px;
}
/*Les balise a du header couleur  police d'écriture epaisseur style de police un texte decoration en none pour enlever l'effet surligner sous mes liens
et un padding pour positionner correctement mes icones avec mes liens*/
a{
    color: #ffffff;
    text-decoration: none;
    padding-left: 5px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 100;
}
.post{
    color: #ffffff;
    width: 100%;
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
span{
    color: #ffffff;
    padding-left: 5px;
    font-family: "Raleway";
    font-style: normal;
}
.cv-container{
    display: flex;
    max-height: 100%;
    max-width: 1160px;
    min-width: 1160px;
    margin: 0 auto;
    flex-direction: row;
    background-color: #ffffff;
}
.competences{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Raleway";
    width: 248px;
    background-color: #f5f5f5;
    padding: 50px;
    position: relative;
}
.lg{
    padding-bottom: 10px;
    text-align-last: justify;
}
.lg-2{
    padding-bottom: 50px;
    text-align-last: justify;
}
.epai{
    padding-right: 40px;
}
.comp-1{
padding-bottom: 50px;
}
.comp-1 p{
    text-align-last: justify;
}
.b{
    position: absolute;
    right: 50px;
    top: 111px;
}
.b i{
    color: #17abb3;
}
.c{
    position: absolute;
    top: 150px;
    right: 50px;
}
.c i{
    color: #17abb3;
}
.d{
    position: absolute;
    right: 50px;
    top: 189px;
}
.d i{
    color: #17abb3;
}
.e{
    position: absolute;
    right: 50px;
    top: 228px;
}
.e i{
    color: #17abb3;
}
.a{
    width: 248px;
    height: 29px;
    margin-bottom: 8px;
}
.qlt{
    list-style: square;
    padding-left: 1.4em;
    padding-bottom: 50px;
}
ul li::marker{
    color: #17abb3;
    font-size: 1.5em;
}
.pfse{
    display: flex;
    flex-direction: column;
    max-width: 712px;
    width: 100%;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.prez{
    font-family: "Raleway";
    font-style: normal;
}
.prez p{
    text-align: justify;
    text-indent: 10px;
    padding-top: 10px;
}
hr{
    border:none;
    background-color: #e3e3e3;
    height: 1px;
    width: 100%;
}
.section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: "Raleway";
    font-style: italic;
    max-width: 697px;
    width: 100%;
    height: 50px;
    padding-top: 10px;    
}
.section:hover{
    border-left: 5px solid #17abb3;
    padding-left: 10px;
    background-color: #e3e3e3;
    width: 712px;
}
.titre-1{
    padding-top: 45px;
}
.trait{
    border-bottom: 1px solid #e3e3e3;
    width: 712px;
    margin: auto;
    padding-top: 10px;
    margin-bottom: 10px;
}
.trait-2{
    border-bottom: 1px solid #e3e3e3;
    width: 248px;
    height: 2px;
    padding-top: 8px;
    margin-bottom: 20px;
}
.sec-gauche{
    display: flex;
    justify-content: flex-start;
    width: 356px;
}
.sec-droite{
    display: flex;
    justify-content: flex-end;
    width: 340px;
    color: #17abb3;
}
strong{
    font-family: "Lato";
    font-style: normal;
}
footer{
    width: 1160px;
    
    flex-direction: row;
    justify-content: center;
    margin: auto;
    background-color: #17abb3;
}
.maj p{
    color: #ffffff;
    font-family: "Raleway";
    font-style: italic;
    font-size: 0.850rem;
}
.maj{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 1160px;
    height: 30px;
    padding-bottom: 10px;
}
.reseau{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-end;
    width: 150px;
    height: 50px;
    color: #ffffff;
}
.lik{
    display: flex;
    align-items: flex-end;
    width: 33px;
    height: 33px;
    object-fit: cover;
}
.lik i{
    font-size: 1.6rem;
}
footer .reseau i:hover{
    color: rgb(255, 255, 255, 70%);
}